<h1>Components</h1>
<div class="button-wrapper">
  <a
    mat-raised-button
    color="primary"
    routerLinkActive
    #rla="routerLinkActive"
    [disabled]="rla.isActive"
    routerLink="/button-component"
    >Button</a
  >
  <a
    mat-raised-button
    color="primary"
    routerLinkActive
    #rla2="routerLinkActive"
    [disabled]="rla2.isActive"
    routerLink="/input-component"
    >Input</a
  >
  <a
    mat-raised-button
    color="primary"
    routerLinkActive
    #rla3="routerLinkActive"
    [disabled]="rla3.isActive"
    routerLink="/icon-component"
    >Icon</a
  >
</div>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>
